.footer-container {
  max-width: 100%;
  display: flex;
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.footer-column {
  flex-basis: 25%;
  text-align: left;
  margin-right: 50px;
}

.footer-socials {
  display: flex;
  margin-bottom: 10px;
}

.social-media-icon {
  font-size: 30px;
  width: 30px;
  margin-right: 10px;
}

@media only screen and (max-width: 600px) {
  .container {
    max-width: 100%;
    flex: 1;
  }

  .footer-column {
    flex-basis: auto;
    margin-right: 0;
    margin-bottom: 30px;
  }
}